*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

section{
    border: solid 2px black;
    width: 750px;
    height: 500px;
    background-image: url("./img/tucano.jpg");
    color: white;
    // background-size: 500px;
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: contain;
    background-position: center;
    
}